#include <windows.h>
#include "resource.h"

IDD_ABOUT DIALOG DISCARDABLE  0, 0, 239, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Informazioni su..."
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,174,18,50,14
    PUSHBUTTON      "&Annulla",IDCANCEL,174,35,50,14
    GROUPBOX        "Informazioni su...",IDC_STATIC,7,7,225,52
    CTEXT           "Un esempio di Finestre di dialog\r\nby giusc",
                    IDC_STATIC,16,18,144,33
END